/**
 *
 * 3pagination example CSS file
 *
 */

/* Navigation items: classic style */
.threepagination.classic {
	margin: 30px 0px;
	width: 100%;
	padding: 5px;
	overflow: hidden;
}
.threepagination.classic a,
.threepagination.classic span.current {
	display: inline-block;
	padding: 0 3px;
	margin: 2px -1px;

	text-decoration: none;
	color: #999;

	border: 1px solid lightgrey;
}
.threepagination.classic a:hover,
.threepagination.classic span.current {
	background-color: #999;
	color: white;
}
